# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/